<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>KraspHAL</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.pilshchikov.krasp.hal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KraspHAL</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2026.1.1</string>
	<key>CFBundleVersion</key>
	<string>2026.1.1</string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>7E176D7D-8C5B-41DD-8B78-DA99DC26D72A</key>
		<string>KraspPlugInFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>7E176D7D-8C5B-41DD-8B78-DA99DC26D72A</string>
		</array>
	</dict>
</dict>
</plist>
